@charset "UTF-8";

.userpicture {
	border: none;
	background : white;
	text-align : center;
	margin : 0 30px 0 0;
}
#sampleImg{
	width : 250px;
	height : 250px;
	background : white;	
	display : inline-block;
}
.updateBase{
	display : inline-block;
	text-align : center;
	margin : 20px 0 20px 0;

			
}
#testTable6{
	max-width : 850px;
}

#ckZip, #goMain, #updateBtn, #resetBtn {
	background: #00c4d9;
	color: white;
	padding : 2px 10px 2px 10px;
	border-radius : 5px;
	text-align: center;
	outline: 0;
	border : 0;
	font-weight: bolder;
}
.form-group>label{
	text-align : right;
}
#mimgBtn {
	color: black;
	border : 0;
	
	padding : 5px 15px 5px 15px;
	border-radius : 5px;
	text-align: center;
	outline: 0;
	font-weight: bolder;
}

#ckZip:hover, #updateBtn:hover, #goMain:hover, , #resetBtn:hover,
	#mimgBtn:hover {
	cursor: pointer;
}

#testTable6 td {

	padding: 10px;
}


.userpicture, .mouter {
	display: inline-block;
}

